<div class="container">
  <h2>Register Product</h2>
  <div class="row">
    <div class="col-4">

        <img *ngIf="productInfo.img; else placeImg" [src]="productInfo.img" width="90%" alt="">
      <ng-template #placeImg>
        <img src="https://ilsto.websites.co.in/obaju-pink/img/product-placeholder.png" width="90%" alt="">
      </ng-template>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="name" i18n>Product Name</label>
        <input type="text" class="form-control" id="name" value="Data"
          required [(ngModel)]="productInfo.name" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="code" i18n>Code</label>
        <input type="text" class="form-control" id="code" value="Data"
          required [(ngModel)]="productInfo.code" [ngModelOptions]="{standalone: true}">
      </div>
      
      <div class="form-group">
        <label for="price" i18n>Price</label>
        <input type="text" class="form-control" id="price" value="Data"
          required [(ngModel)]="productInfo.price" [ngModelOptions]="{standalone: true}">
      </div>
      
      <div class="form-group">
        <label for="cost" i18n>Cost</label>
        <input type="text" class="form-control" id="cost" value="Data"
          required [(ngModel)]="productInfo.cost" [ngModelOptions]="{standalone: true}">
      </div>
      
      
      <div class="form-group">
        <label for="stock" i18n>Inventory</label>
        <input type="text" class="form-control" id="stock" value="Data"
          required [(ngModel)]="productInfo.stock" [ngModelOptions]="{standalone: true}">
      </div>
      
      
      <div class="form-group">
        <label for="img" i18n>Img</label>
        <input type="text" class="form-control" id="img" value="Data"
          required [(ngModel)]="productInfo.img" [ngModelOptions]="{standalone: true}">
      </div>
      
      <div class="form-group">
        <label for="description" i18n>Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
        value="Data"
        required [(ngModel)]="productInfo.description" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="row">
        <div class="col-6">
          <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
        
        <div class="col-6">
          <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
        </div>

      </div>

    </div>
  </div>
</div>